<div class="container mt-4">

    <h5>Consulta de versões</h5>
    <p>Listagem de regras de segurança</p>
    <hr />


    <div class="input-group mb-3">
        <input type="text"
               class="form-control"
               placeholder="Pesquisar por nome..."
               [(ngModel)]="termoDePesquisa"
               (input)="pesquisarTermo()">
    </div>

    <div *ngIf="visaoObterTodos.length === 0" class="alert alert-warning">
        <p>Nenhum registro encontrado.</p>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Versao</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of visaoObterTodos">
                <td>{{ item.versao }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.tipo }}</td>
                <td>
                    <button class="btn btn-sm btn-outline-secondary" (click)="onGetById(item.id, item.tipo)" data-bs-toggle="modal" data-bs-target="#modalVisualizacao">
                        Detalhes
                    </button>
                    <button class="btn btn-sm btn-outline-primary  ms-2"
                        [routerLink]="['/editar-credcesta', item.id]">
                        Editar
                    </button>
                    <button class="btn btn-sm btn-outline-danger ms-2" (click)="setContato(item);" data-bs-toggle="modal" data-bs-target="#modalExclusao">
                        Excluir
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    <div class="pagination-controls" style="text-align: center; margin: 20px 0;;">
                        <button class="btn btn-sm btn-outline-primary" (click)="mudancaDePagina(pagina - 1)" [disabled]="pagina === 0">Anterior</button>
                        <span class="ms-2">Página {{ pagina + 1 }} de {{ totalPaginas }}</span>
                        <button class="btn btn-sm btn-outline-primary  ms-2" (click)="mudancaDePagina(pagina + 1)" [disabled]="pagina >= totalPaginas - 1">Próxima</button>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

    <div *ngIf="mensagem" class="alert alert-info mt-3">{{ mensagem }}</div>
</div>
